body {
	background-color: #fff;
}

.container {
	margin-bottom: 0;
	min-height: 100%;
	padding-top: 15px;
}

#wrapper {
	width: 100%;
	background-color: #222;
}

#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}

@media ( min-width :768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 250px;
		padding: 0 30px;
	}
}

#banner-wrapper {
	padding: 4em 0 4em 0;
}

#banner-wrapper {
	position: relative;
	width: 100%;
	background: #212121 url('../../resources/img/overlay.png') repeat;
}

#banner-wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url('../../resources/img/bg02.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.navbar {
	background: #080808 url('../../resources/img/overlay.png') repeat;
	color: #999;
	border-color: #080808;
}

.navbar:before {
	width: 100%;
	height: 100%;
	background-image: url('../../resources/img/bg02.png');
	background-size: 100% 100%;
	color: #999;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar-top-links {
	margin-right: 0;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
	color: #999;
}

.navbar-top-links>li>a:hover, .navbar-top-links>li>a:focus,
	.navbar-top-links>.open>a, .navbar-top-links>.open>a:hover,
	.navbar-top-links>.open>a:focus {
	color: #fff;
	background-color: #000;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar .sidebar-search {
	padding: 15px;
}

/* .sidebar ul li {
	border-bottom: 1px solid #000;
} */
.sidebar ul li a {
	color: #999;
}
/*
.sidebar ul li a.active {
	color: #fff;
	background-color: #000;
}
*/
.sidebar .arrow {
	float: right;
	color: #999;
}

.sidebar .fa.arrow:before {
	content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}

.sidebar .nav-second-level li, .sidebar .nav-third-level li {
	border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
	padding-left: 37px;
	color: #999;
}

.sidebar .nav-third-level li a {
	padding-left: 52px;
	color: #999;
}

.sidebar li a:hover {
	color: #fff;
}

.sidebar li a.active {
	color: #fff;
}

.sidebar li a.inactive {
	color: #999;
	background-color: #222 !important;
}

.sidebar li a.inactive:hover, .sidebar li a.inactive:focus {
	color: #fff;
	background-color: #000 !important;
}

@media ( min-width :768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 50px;
		background-color: #222;
	}
	/* 	.navbar {
		position: fixed;
		width: 100%;
	} 
	.sidebar {
		width: 250px;
		background-color: #222;
		top: 51px;
		position: fixed;
		left: 225px;
		margin-left: -225px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}*/
	.sidebar>li>a {
		width: 225px;
	}
	.sidebar li a:hover, .sidebar li a:focus {
		outline: none;
		background-color: #000 !important;
	}
	.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks,
		.navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}

.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover, .btn-success.btn-outline:hover,
	.btn-info.btn-outline:hover, .btn-warning.btn-outline:hover,
	.btn-danger.btn-outline:hover {
	color: #fff;
}

.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}

.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}

.login-panel {
	margin-top: 25%;
}

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

.dataTables_wrapper {
	position: relative;
	clear: both;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled,
	table.dataTable thead .sorting_desc_disabled {
	background: 0 0;
}

table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50, 50, 50, .5);
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}

.show-grid [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #eee !important;
}

.show-grid {
	margin: 15px 0;
}

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red a {
	color: #d9534f;
}

.panel-red a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow a {
	color: #f0ad4e;
}

.panel-yellow a:hover {
	color: #df8a13;
}

.slide-image {
	width: 100%;
}

.carousel-holder {
	padding-top: 20px;
	margin-bottom: 30px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	height: 450px;
	cursor: default;
	margin-bottom: 30px;
}

.carousel-control, .item {
	border-radius: 4px;
}

.carousel .info {
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 3em;
	right: 4em;
	padding: 0px 0px 20px 30px;
	text-align: right;
}

.carousel .info h2 {
	opacity: 0.75;
	line-height: 1.25em;
	font-size: 3em;
	font-weight: 200;
	color: #ffffff;
	margin: 0 0 0.5em 0;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: 0 0 1em 0;
	letter-spacing: -1px;
}

.carousel .info span {
	display: block;
	text-decoration: none;
	opacity: 0.75;
	font-weight: 200;
	color: #b4b3b3;
	font-size: 2.00em;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	height: 450px;
}

.thumbnail img {
	width: 100%;
}

#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

.popupContainer {
	/* 	position: absolute;
	width: 330px;
	height: auto;
	left: 45%;
	top: 80px;
	background: #FFF; */
	font-size: 13px;
	font-family: 'Nunito';
	max-width: 500px;
	min-width: 400px;
	margin: 12px auto;
	background-color: rgba(172, 172, 172, 0.3);
	border: solid 1px rgba(0, 0, 0, .2);
	border-radius: 10px;
	box-shadow: 0 1px 12px rgba(0, 0, 0, .5);
	padding: 50px 30px 20px;
	background: rgba(0, 0, 0, 0.8);
}

.one_half {
	width: 50%;
	display: block;
	float: left;
}

.one_half.last {
	width: 45%;
	margin-left: 5%;
}

.popupHeader {
	color: #aaa;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.25em;
	letter-spacing: 0.05em;
	font-weight: 300;
	padding: 10px 0;
	font-weight: bold;
}

.popupHeader .modal_close {
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 15px;
	cursor: pointer;
	color: #aaa;
	font-size: 16px;
}

.popupBody {
	padding: 20px;
}

/* Social Login Form */
.social_login {
	
}

.social_login .social_box {
	display: block;
	clear: both;
	padding: 10px;
	margin-bottom: 10px;
	background: #F4F4F2;
	overflow: hidden;
}

.social_login .icon {
	display: block;
	width: 10px;
	padding: 5px 10px;
	margin-right: 10px;
	float: left;
	color: #FFF;
	font-size: 16px;
	text-align: center;
}

.social_login .fb .icon {
	background: #3B5998;
}

.social_login .google .icon {
	background: #DD4B39;
}

.social_login .icon_title {
	display: block;
	padding: 5px 0;
	float: left;
	font-weight: bold;
	font-size: 16px;
	color: #777;
}

.social_login .social_box:hover {
	background: #E4E4E2;
}

.centeredText {
	text-align: center;
	margin: 20px 0;
	clear: both;
	overflow: hidden;
	text-transform: uppercase;
}

.action_btns {
	clear: both;
	overflow: hidden;
}

.action_btns a {
	display: block;
}

/* User Login Form */
.inputLogin {
	margin: 0 auto 20px auto;
	border-radius: 3px;
	box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px
		rgba(255, 255, 255, 0.5);
}

.user_login label {
	float: left;
	background: rgba(0, 0, 0, 0.2);
	color: #666;
	padding: 5px 10px;
	font-size: 1.4em;
	height: 47px;
	border-radius: 3px 0 0 3px;
}

.user_login label:after {
	content: '';
	display: inline-block;
	border-right: 1px solid #666;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: -5px;
	height: 25px;
}

.user_login input[type="text"], .user_login input[type="email"],
	.user_login input[type="password"] {
	width: 83.5%;
	height: 47px;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	border: none;
	padding: 15px 5px;
	font-size: 15px;
}

.user_login input[placeholder] {
	color: #666;
}
/* .user_login input[type="text"]:focus, .user_login input[type="email"]:focus,
	.user_login input[type="password"]:focus  */
.user_login input:focus {
	border-left: 3px solid #ca3435;
	-webkit-transition: 0.4s ease;
	background: linear-gradient(lighten(@ bgclr, 2), darken(@ bgclr, 3));
	outline: none;
}

.user_login input:valid {
	color: #fff;
}

.user_login input:invalid {
	color: #CA3435;
	border: none;
}

.user_login input[type="submit"] {
	box-sizing: border-box;
	width: 83.5%;
	height: 47px;
	background: rgba(0, 0, 0, 0.2);
	font-size: 1.1em;
	color: #fff;
	border: none;
	padding: 15px 5px;
	width: 100%;
	text-transform: uppercase;
	background: #ca3435;
	cursor: pointer;
	font-family: 'Nunito';
	border-radius: 3px;
}

.user_login input[type="submit"]:hover {
	background: rgba(202, 52, 53, 0.9);
}

.remember {
	font-family: 'Nunito';
	float: left;
	color: #666;
	padding: 5px 10px;
	font-size: 1.1em;
	height: 47px;
	border-radius: 3px 0 0 3px;
}

/* Checkbox */
.user_login input[type="checkbox"] {
	margin-right: 15px;
	border: initial;
	background-image: -webkit-linear-gradient(hsla(0, 0%, 0%, .1),
		hsla(0, 0%, 100%, .1)),
		-webkit-linear-gradient(left, #f66 50%, #6cf 50%);
	background-size: 100% 100%, 200% 100%;
	background-position: 0 0, 5px 0;
	border-radius: 25px;
	box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, .5), inset 0 0 10px
		hsla(0, 0%, 0%, .5), 0 0 0 1px hsla(0, 0%, 0%, .1), 0 -1px 2px 1px
		hsla(0, 0%, 0%, .25), 0 2px 2px 1px hsla(0, 0%, 100%, .5), 0 -2px 10px
		2px hsla(0, 0%, 100%, .75), 0 2px 10px 2px hsla(0, 0%, 0%, .25);
	cursor: pointer;
	height: 10px;
	padding-right: 10px;
	position: relative;
	width: 20px;
	-webkit-appearance: none;
	-webkit-transition: .15s;
	border: initial;
}

.user_login input[type="checkbox"]:after {
	background-color: #eee;
	background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, .1),
		hsla(0, 0%, 0%, .1));
	border-radius: 25px;
	box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 1), inset 0 -1px 1px
		1px hsla(0, 0%, 0%, .25), 0 1px 3px 1px hsla(0, 0%, 0%, .5), 0 0 2px
		hsla(0, 0%, 0%, .25);
	content: '';
	display: block;
	height: 10px;
	left: 0;
	position: relative;
	top: 0;
	width: 10px;
}

.user_login input[type="checkbox"]:checked {
	background-position: 0 0, 15px 0;
	padding-left: 10px;
	padding-right: 0;
}

::-webkit-input-placeholder {
	color: #666;
}

[placeholder]:focus::-webkit-input-placeholder {
	transition: all 0.2s linear;
	transform: translate(10px, 0);
	opacity: 0;
}

.forgot_password {
	display: block;
	margin: 20px 0 10px;
	clear: both;
	overflow: hidden;
	text-decoration: none;
	color: #ED6347;
}

/* User Register Form */
.user_register label {
	display: block;
	margin-bottom: 3px;
}

.user_register input[type="text"], .user_register input[type="email"],
	.user_register input[type="password"] {
	margin: 0 auto 20px auto;
	border-radius: 3px;
	box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px
		rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 47px;
	color: #fff;
	border: none;
	background: rgba(0, 0, 0, 0.2);
	background: rgba(17, 17, 17, 0.95);
	/*border: 1px solid black; */
	padding: 15px;
	font-size: 15px;
	margin-bottom: 7px;
}

.user_register input[placeholder] {
	color: #666;
}

.user_register input:valid {
	color: #fff;
}

.user_register input:focus {
	border-left: 3px solid #ca3435;
	-webkit-transition: 0.4s ease;
	background: linear-gradient(lighten(@ bgclr, 2), darken(@ bgclr, 3));
	outline: none;
}

.user_register input:invalid {
	color: #CA3435;
}

.user_register input[type="submit"] {
	box-sizing: border-box;
	width: 83.5%;
	height: 47px;
	font-size: 1.1em;
	color: #fff;
	border: none;
	padding: 15px 5px;
	width: 100%;
	text-transform: uppercase;
	background: #ca3435;
	cursor: pointer;
	font-family: 'Nunito';
	border-radius: 3px;
}

.user_register input[type="submit"]:hover {
	background: rgba(202, 52, 53, 0.9);
}

.error {
	color: #ca3435;
	font-family: 'Nunito';
	font-weight: bold;
	font-size: 1em;
	padding-bottom: 5px;
}

/*--------------- CAR LISTING -------------------- */

/**** LAYOUT ****/
.car-listing {
	border: 1px solid rgba(0, 0, 0, 0.2);
	/* rgba(17, 17, 17, 0.95);
     #ededed;*/
	background-color: #fff !important;
	padding: 10px !important;
	-webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
	box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
	margin-bottom: 20px !important;
	height: 150px;
}

.car-listing .media-body {
	font-size: .9em;
}

.media a {
	color: #03a1d1;
	text-decoration: none !important;
}

.media .features li {
	padding: 0 10px 0 0;
	margin: 0 !important;
	margin-bottom: 10px !important;
	color: #535353;
	display: inline;
}

.media-body ul {
	-webkit-padding-start: 0px;
}

.media-body .address {
	font-size: .9em;
	font-family: Arial;
	color: #bbb;
}

.media-body .brand {
	font-size: 1.2em;
	font-weight: bold;
}

.media-body .description {
	display: block;
	list-style: none
}

#car-listings .car-listing img {
	max-width: 180px;
	height: 130px;
}
/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
	#car-listings .car-listing {
		padding: 5px !important;
	}
	#car-listings .car-listing a {
		margin: 0;
	}
	#car-listings .car-listing .media-body {
		padding: 10px;
	}
}

@media only screen and (min-width: 992px) {
	#car-listings .car-listing img {
		max-width: 180px;
	}
}

/*------PAGINATION--------*/
#pagin {
	padding: 0;
	padding-bottom: 15px;
	list-style: none;
	text-align: center;
	margin: 0 auto;
	line-height: 40px;
	margin: 0 auto;
	float: right;
}

#pagin li {
	float: left;
	margin-right: 10px;
}

#pagin li a {
	color: #717171;
	font: bold 11px Arial, sans-serif;
	text-shadow: 0px 1px white;
	padding: 5px 8px;
	display: inline-block;
	margin-right: 3px;
	padding: 4px 10px;
	text-decoration: none;
	line-height: 1.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
	background: #f9f9f9;
	background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9',
		endColorstr='#e8e8e8', GradientType=0);
}

#pagin li a.current {
	color: white;
	text-shadow: 0px 1px #3f789f;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.8);
	background: #03a1d1;
	background: -webkit-linear-gradient(top, #03a1d1 0%, #57a1d8 100%);
	background: -moz-linear-gradient(top, #03a1d1 0%, #57a1d8 100%);
	background: -o-linear-gradient(top, #03a1d1 0%, #57a1d8 100%);
	background: -ms-linear-gradient(top, #03a1d1 0%, #57a1d8 100%);
	background: linear-gradient(top, #03a1d1 0%, #57a1d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a1d1',
		endColorstr='#57a1d8', GradientType=0);
}

#pagin li a:hover {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.55);
	background: #fff;
	background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',
		endColorstr='#e8e8e8', GradientType=0);
}

#pagin li a:active, #pagin li a.current:active {
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px 1px
		1px 0px rgba(255, 255, 255, 1) !important;
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px 1px 1px
		0px rgba(255, 255, 255, 1) !important;
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.5), 0px 1px 1px 0px
		rgba(255, 255, 255, 1) !important;
}

#pagin li a.current:hover {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.9);
	background: #99cefc;
	background: -webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: -moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: -o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: -ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc',
		endColorstr='#57a1d8', GradientType=0);
}

@media only screen and (max-width: 992px) {
	#pagin {
		width: 350px;
	}
	#pagin li {
		float: left;
		margin-right: 2px;
	}
	#pagin li a {
		padding: 4px 10px;
	}
}

.panel-info {
	border-color: #03a1d1;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.filtersContainer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.panel-footer .btn-info {
	margin-top: 5px;
}

.tableLegend {
	display: table;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent;
	width: 100%;
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-spacing: 2px;
	border-collapse: collapse;
}

.tableLegend>thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.tableLegend>tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.tableLegend>tbody>tr>td, .tableLegend>tbody>tr>th, .tableLegend>tfoot>tr>td,
	.tableLegend>tfoot>tr>th, .tableLegend>thead>tr>td, .tableLegend>thead>tr>th
	{
	line-height: 1.42857143;
	vertical-align: top;
	border: 1px solid #ddd;
	padding: 1px;
	padding-left: 3px;
	font-size: 1em;
}

.chartContainer {
	padding-top: 30px;
	padding-bottom: 30px;
}

.categoryHeaderForm {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 5px;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}

.chart {
	position: relative;
	top: 50%;
	left: 50%;
}

.pieTip {
	position: absolute;
	float: left;
	min-width: 30px;
	max-width: 300px;
	padding: 5px 18px 6px;
	border-radius: 2px;
	background: rgba(255, 255, 255, .97);
	color: #444;
	font-size: 19px;
	text-shadow: 0 1px 0 #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.3;
	letter-spacing: .06em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-transform: all .3s;
	-moz-transform: all .3s;
	-ms-transform: all .3s;
	-o-transform: all .3s;
	transform: all .3s;
	pointer-events: none;
}

.pieTip:after {
	position: absolute;
	left: 50%;
	bottom: -6px;
	content: "";
	height: 0;
	margin: 0 0 0 -6px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 6px solid rgba(255, 255, 255, .95);
	line-height: 0;
}

.chart path {
	cursor: pointer;
}

.dropdown:before {
	border-bottom-style: solid;
	border-top: none;
}

.dropdown:after {
	margin-top: 7px;
	border-top-style: solid;
	border-bottom: none;
}

.dropdown-select {
	margin: 0 auto 20px auto;
	border-radius: 3px;
	box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px
		rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 47px;
	color: #fff;
	border: none;
	background: rgba(0, 0, 0, 0.2);
	background: rgba(17, 17, 17, 0.95);
	/*border: 1px solid black; */
	padding: 15px;
	font-size: 14px;
	margin-bottom: 7px;
}

.dropdown-select:focus {
	z-index: 3;
	width: 100%;
	color: #666;
	outline: 2px solid #ca3435;
	outline: 2px solid -webkit-focus-ring-color;
	outline-offset: -2px;
}

.dropdown-select>option {
	color: #666;
}

.editProfileContainer a {
	color: #EB6864;
	font-weight: 500;
}

#searchMap img {
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-image: url('../../resources/img/mapB.gif');
}

#chartDistrict {
	width: 90%;
	margin: 0px auto;
	padding: 1em 0;
	position: relative;
}

#chartDistrict .item-wrap::after {
	content: '';
	display: table;
	clear: left;
}

#chartDistrict .item-wrap .label {
	float: left;
	width: 25%;
	text-align: right;
	margin-right: 4%;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.4em 0;
	color: #333;
}

#chartDistrict .item-wrap .bar {
	float: left;
	width: 70%;
	position: relative;
	height: 50px;
	border-left: solid 1px #333;
	padding: 0.4em 0;
}

#chartDistrict .item-wrap .bar .bar-fill {
	height: 100%;
	width: 0;
	position: relative;
	text-indent: -99999px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: solid 1px #CC0033;
	background-color: #CC0033;
	/* #ff56bb */
	background: linear-gradient(0deg, #ca3435 0%, #CC0033 100%);
	-webkit-transition: width 600ms cubic-bezier(0.585, 0.365, 0.61, 1.27);
	-moz-transition: width 600ms cubic-bezier(0.585, 0.365, 0.61, 1.27);
	-o-transition: width 600ms cubic-bezier(0.585, 0.365, 0.61, 1.27);
	transition: width 600ms cubic-bezier(0.585, 0.365, 0.61, 1.27);
}

@media ( max-width : 770px) {
	#chartDistrict {
		width: 95%;
	}
	#chartDistrict .item-wrap .label {
		width: 30%;
		margin-right: 4%;
	}
	#chartDistrict .item-wrap .bar {
		width: 65%;
	}
}

@media ( max-width : 520px) {
	#chartDistrict .item-wrap .label {
		width: 0;
	}
	#chartDistrict .item-wrap .bar {
		width: 95%;
	}
}

#chartModels {
	width: 90%;
	margin: 0px auto;
	padding: 1em 0;
	position: relative;
}

#chartModels .item-wrap::after {
	content: '';
	display: table;
	clear: left;
}

#chartModels .item-wrap .label {
	float: left;
	width: 25%;
	text-align: right;
	margin-right: 4%;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0.4em 0;
	color: #333;
}

#chartModels .item-wrap .bar {
	float: left;
	width: 70%;
	position: relative;
	height: 50px;
	border-left: solid 1px #333;
	padding: 0.4em 0;
}

#chartModels .item-wrap .bar .bar-fill {
	height: 100%;
	width: 0;
	position: relative;
	text-indent: -99999px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: solid 1px #66CCFF;
	background-color: #66CCFF;
	/* #ff56bb */
	background: linear-gradient(0deg, #66CCFF 0%, #3366CC 100%);
	-webkit-transition: width 600ms cubic-bezier(0.585, 0.365, 0.61, 1.27);
	-moz-transition: width 600ms cubic-bezier(0.585, 0.365, 0.61, 1.27);
	-o-transition: width 600ms cubic-bezier(0.585, 0.365, 0.61, 1.27);
	transition: width 600ms cubic-bezier(0.585, 0.365, 0.61, 1.27);
}

@media ( max-width : 770px) {
	#chartModels {
		width: 95%;
	}
	#chartModels .item-wrap .label {
		width: 30%;
		margin-right: 4%;
	}
	#chartModels .item-wrap .bar {
		width: 65%;
	}
}

@media ( max-width : 520px) {
	#chartModels .item-wrap .label {
		width: 0;
	}
	#chartModels .item-wrap .bar {
		width: 95%;
	}
}

#priceTable a {
	outline: none;
}

#priceTable a:hover {
	outline: none;
	text-decoration: none;
}

#top4 .view {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

#top4 .view .img-responsive, .thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	min-height: 250px;
	max-height: 250px;
}

#top4 .view p {
	margin-top: 20px;
	margin-bottom: 0;
}

#top4 .caption {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(70, 216, 210, 0.44);
	width: 100%;
	height: 100%;
	padding: 2%;
	display: none;
	text-align: center;
	color: #fff !important;
	z-index: 2;
}

#top4 .caption a {
	padding-right: 10px;
	color: #fff;
}

#top4 .info {
	display: block;
	padding: 10px;
	background: #eee;
	text-transform: uppercase;
	font-weight: 300;
	text-align: right;
}

#top4 .info p, .stats p {
	margin-bottom: 0;
}

#top4 .stats {
	display: block;
	padding: 10px;
	color: white;
	background-color: #029acf;
}

#top4 .coral {
	color: #FF4F4F;
}

.file-upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}
